@media only screen and (min-width: 300px) and (max-width: 991px) {
    .testi-content{

        padding: 20px;
    }
}

@media only screen and  (max-width: 574px) {
    .testi-content{

        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .testi-content{

        padding: 20px;
    }
}
